<div class="alert alert-success">
  <h1 class="display-4"> Congratulations!!!</h1>
</div>
<div class="jumbotron">

  <p class="lead">Your order will be shipped soon.</p>

  <hr class="my-4">
  <p>We are committed to serving the communities where we live and work. During these challenging times, we’re using the power of our tireless staff and beloved workers to address our valiant, fearless <b>health care professionals</b> and customers needs for personal protection equipment.</p>
  <p class="lead">


  </p>
</div>
