
<h3> </h3>
<div class="alert alert-info">
  <strong>Product Details</strong>
</div>
<div *ngIf="product">
  <div class="alert alert-warning" *ngIf="product.instock < 11">
    <strong>  Only {{ product.instock }} in stock!!!</strong>
  </div>
  <h3 class="text-primary">
    {{ product.name }}

  </h3>
  <div class="cart-item">
    <span>Price</span>
    <span>{{ product.price | currency }}</span>
  </div>

  <div class="cart-item">
    <span>{{ product.description }}</span>
  </div>
  <form
    [formGroup]="checkoutForm"
    (ngSubmit)="addToCart(product, checkoutForm.value)"
  >
    <label for="quantity">
      Quantity
    </label>
    <input id="quantity" type="text" formControlName="quantity" />

    <button class="button" *ngIf="edit === false" type="submit">Buy</button>
    <button class="button" *ngIf="edit === true" type="submit">update</button>
  </form>
</div>
