<h3>Cart</h3>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"  >Name</th>
    <th scope="col">Quantity</th>
    <th scope="col" >Price</th>
    <th scope="col" >Total Price</th>
    <th scope="col" ></th>
    <th scope="col" ></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let orderDetail of orderDetails">
    <td>

      {{  orderDetail.productName }}
    </td>
    <td>{{ orderDetail.quantity | number }}</td>
    <td>{{  orderDetail.price | currency }}</td>
    <td>{{  orderDetail.totalPrice  | number  }}</td>
    <td><button class="btn btn-link" (click)="editCart(orderDetail )">Edit</button></td>
    <td><button class="btn btn-info" (click)="removeFromCart(orderDetail.productName )">Remove</button></td>
  </tr>
  </tbody>
</table>
{{total}}
<button *ngIf="orderDetails && orderDetails.length >0" (click)="purchase()">
  purchase
</button>
<div class="cart-item" *ngIf="!orderDetails || orderDetails.length ===0" >
  Cart is empty :)
</div>
<a class="button fancy-button"  [routerLink]="['/']">continue shopping</a>

